<footer class="container">
    <div class="myid">
        <table>
            <tr>
                <th>Company</th><th>Hosting</th><th>Domains</th><th>Support</th><th>Contact us</th>
      
              </tr>
              <tr>
                  <td>About us</td><td>Web Hosting</td><td>Register Domains</td><td>Client area</td><td>icons<div class="middle">
                      <a class="btn" href="#">
                          
                          <i class="fab fa-facebook"></i>
                      </a>
                      <a class="btn" href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a class="btn" href="#">
                        <i class="fab fa-google"></i>
                      </a>
                      <a class="btn" href="#">
                        <i class="fab fa-instagram"></i>
                      </a>
                      <a class="btn" href="#">
                        <i class="fab fa-youtube"></i>
                      </a>
                    </div></td>
        
                </tr>
                <tr>
                  <td>Press & Media</td><td>Wordpress Hosting</td><td>Transfer Domains</td><td>Tel: +(973) 17 880038</td>
        
                </tr>
                <tr>
                  <td>News & Blog</td><td>Cloud Hosting</td><td>Manage Domains</td>
        
                </tr>
                <tr>
                  <td>Contact Us</td><td>VPS Hosting</td><td></td>
        
                </tr>
                <tr>
                  <td>Careers</td><td>Dedicated Hosting</td><td></td><td></td>
        
                </tr>
            
        </table>
      </div>
      
      
    <p>&copy; FormaLab 2016-2020</p>
    
</footer>