<app-navbar></app-navbar>

<div class="one">
    
    
    <div class="container">
        <span class="text1">We're a digital transformation agency.</span>
     
      </div>

</div>
<div id="search">
<input type="text" id="box1" placeholder="enter your name">
<input type="submit" id="box2" value="Search" >
</div>

<div class="two">
    <table>
        <tr >
      <td><img src="assets/images/person.png"  class="ts"></td>
     <td><img src="assets/images/chat.jpg" class="ts"></td>
     <td><img src="assets/images/message.png" class="ts"></td>
     <td><img src="assets/images/location.jpg" class="ts"></td>
        </tr>
        <tr  >
            <td>
                <pre>
                          <h3>Client area</h3>
                          Login 
                          Submit a ticket</pre>
            </td>
            <td><pre>
                           <h3>Call or Chat</h3>
                           Tel: +(973) 17 880038
                            Start chatting now
            </pre>
        </td>
            <td> <pre>
                                  <h3>Send e-mail</h3>
                                  support@hustbee.co
                                   admin@hustbee.co
            </pre>
        </td>
            <td><pre>
                             <h3>Visit us</h3>
                             support@hustbee.co 
                             admin@hustbee.co
            </pre></td>
        </tr>
    </table>
</div>
<h5 >Common questions about Hustbee & Hosting services.</h5>
<div id="jq">
    <br><div class="tt" id="wahd">can i use a prepaid debit card every month for a website of mine?"
        <span class="mt">+</span>
        <hr>
    </div>
  <p id="w">  Lorem ipsum dolor sit amet, consectetur adi piscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor. Donec<br> nisi velit, malesuada id dolor non, elementum auctor arcu. Cras consectetur sapien et purus posuere, ac hendrerit nunc luctus.
  </p>
    <br><div class="tt" id="joj"> i cannot get my package cancelled 
        <span class="mt">+</span>
        <hr>
    </div>
   <p id="j"> Lorem ipsum dolor sit amet, consectetur adi piscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor. Donec <br> nisi velit, malesuada id dolor non, elementum auctor arcu. Cras consectetur sapien et purus posuere, ac hendrerit nunc luctus.
   </p>
<br><div class="tt" id="tlata">  how to add excisting domain to my account?
    <span class="mt">+</span>
    <hr>
</div>
<p id="t">Lorem ipsum dolor sit amet, consectetur adi piscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor. Donec <br> nisi velit, malesuada id dolor non, elementum auctor arcu. Cras consectetur sapien et purus posuere, ac hendrerit nunc luctus.
</p>
<br><div class="tt" id="rb3a"> comparision:shared v.resseller v.dedicated
    <span class="mt">+</span>
    <hr>
</div>
<p id="r">Lorem ipsum dolor sit amet, consectetur adi piscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor. Donec <br> nisi velit, malesuada id dolor non, elementum auctor arcu. Cras consectetur sapien et purus posuere, ac hendrerit nunc luctus.
</p>
</div>
<h5>or Full out the Contact form to contact us</h5>

<div class="box">
<form  action="#" method="post">
    
    <input type="text" name="" placeholder="Username">
    <input type="email" name="" placeholder="Email">
    <select><option>a</option>
        <option>a</option>
        <option>a</option></select>
    <input type="password" name="" placeholder="Password">
    <input type="submit" name="" value="Login">
  </form> </div>
  <div id="info">
      <pre>
        Office Locations
        Oslo
        Oslo, Norway
        Road 398, Center, Office 38, floor 3
        Contact number: 0901
        
        Support
        At vero eos et accusamus et iusto odio dignissimos
         ducimus qui blanditiis. praesentium voluptatum 
         deleniti llitia animi.
        
        Customer Service
        At vero eos et accusamus et iusto odio dignissimos
         ducimus qui blanditiis. praesentium voluptatum
          deleniti llitia animi, inquiries@hustbee.io.co
      </pre>
  </div>
<div id="last">
    <table>
        <tr>
            <td><i class="fab fa-twitch "  style="font-size: 125px;" ></i></td><td>Let’s talk +<br><br>Sed ut perspiciatis unde omnis iste natus<br> error sit voluptatem ccusantium.</td>
        </tr>
    </table>
    <div id="verticale"></div>
    <table style="margin-left: 750px;margin-top: -500px;">
        <tr id="table2">
            <td><i class="fas fa-sms" style="font-size: 125px;"></i></td><td>Let’s talk +<br><br>Sed ut perspiciatis unde omnis iste natus<br> error sit voluptatem ccusantium.</td>
        </tr>
    </table>
</div>




<app-footer></app-footer>